.home {
    font-size: 1.2rem;
    background: #dae6f8;
    padding: .5rem 0;
}

.homeSection {
    display: flex;
    flex-direction: column;
    margin: .7rem;
    gap: .4rem;
}

.sectionArticle3,
.sectionArticle {
    background: #ffffff;
    padding: 0.5rem;
}

.sectionArticle2 {
    background: #3684e9;
    color: #ffffff;
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .homeSection {
        margin: 2rem 4rem;
    }
}

